body {
    background-color: #212735;
}

.thm-color {
    color: #fff;
}

.thm-subcolor {
    color: #aaa;
}

.thm-board {
    background-color: #31394c;
}

.thm-border {
    border-color: #47536d;
}

